{% extends "templates/indexLayout.html.twig" %}

{% block busqueda %}

    <div class="modal fade col-12" id="newEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modalanadirBorder" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Nuevo evento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <form action="index.php?controller=evento&action=crearEvento" method="post">
                      <div class="md-form mb-5">
                            <label for="nombreEvento">Nombre</label>
                            <input type="text" class="form-control" id="nombreEvento" name="nombreEvento" required>
                        </div>
                        <div class="md-form mb-5">
                            <label for="tipoEvento">Tipo</label>
                            <input type="text" class="form-control" id="tipoEvento" name="tipoEvento" required>
                        </div>
                        <div class="md-form mb-5">
                            <p>Fecha</p>
                            <input type="date" class="form-control" id="fechaEvento" name="fechaEvento" required>
                        </div>
                        <div class="md-form mb-5">
                            <label for="descripcionEvento">Descripcion</label>
                            <textarea class="form-control" id="descripcionEvento" name="descripcionEvento" rows="4"></textarea>
                        </div>
                        <div class="md-form mb-5">
                            <p class="float-left">Local</p>
                            <a class="float-right mb-5" href="index.php?controller=local&action=index">¿Añadir local?</a>
                            <label for="lugarEvento"></label>
                            <select class="browser-default custom-select" id="lugarEvento" name="lugarEvento">
                                {% for local in locales %}
                                    <option value="{{ local.idLocal }}">{{ local.nombreLocal }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="md-form mb-5 justify-content-between">
                            <button type="button" class="btn btn-light float-left" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary float-right">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">

        <a href="" class="btn btn-outline-primary btn-rounded mt-3 col-12 col-sm-4" data-toggle="modal" data-target="#newEvento">Añadir evento</a>

        <div class="md-form form-sm float-sm-right col-12 col-sm-4 justify-content-center align-items-center">
            <form action="index.php?controller=evento&action=buscar" method="post">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="tipo" name="busqueda" value="tipo" checked>
                    <label class="custom-control-label" for="tipo">Por tipo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="fecha" name="busqueda" value="fecha">
                    <label class="custom-control-label" for="fecha">Por fecha</label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="local" name="busqueda" value="local">
                    <label class="custom-control-label" for="local">Por local</label>
                </div>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="busqueda" id="busqueda" name="busquedaS">
                <button type="submit" class="btn-primary">Buscar</button>
            </form>

        </div>

    </div>

{% endblock %}

{% block contenido %}

    <div class="row text-center justify-content-center mt-3 mb-3">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-12">

            <div class="card example-1 square scrollbar-cyan bordered-cyan">
            <table id="tablaEventos" class="table">
                <thead class="black white-text">
                <tr>
                    <th class="th-sm">Nombre</th>
                    <th class="th-sm d-none d-sm-table-cell">Tipo</th>
                    <th class="th-sm d-none d-sm-table-cell">Fecha</th>
                    <th class="th-sm d-none d-sm-table-cell">Local</th>
                    <th class="th-sm d-none d-lg-table-cell">Descripción</th>
                    <th class="th-sm">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.nombre }}</td>
                            <td class="d-none d-sm-table-cell">{{ evento.tipo }}</td>
                            <td class="d-none d-sm-table-cell">{{ evento.fecha }}</td>
                            <th class="th-sm d-none d-sm-table-cell">{{ evento.nombreLocal }}</th>
                            <td class="d-none d-lg-table-cell">{{ evento.descripcion }}</td>
                            <td id="botonesAcciones" class="justify-content-center">
                                <button id="modificar" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalModificar" data-idevento="{{ evento.id }}" data-nombre="{{ evento.nombre }}" data-tipo="{{ evento.tipo }}" data-fecha="{{ evento.fecha }}" data-descripcion="{{ evento.descripcion }}" data-nombrelocal="{{ evento.nombreLocal }}" data-idlocal="{{ evento.idLocal }}"><span class="far fa-edit"></span></button>
                                <button id="borrar" class="btn btn-outline-danger btn-rounded borrar" onclick="return eliminar({{ evento.id }})"><span class="far fa-trash-alt"></span></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modalModificarBorder" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Modificar evento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <form id="formModificar" action="#" method="post" onsubmit="return modificar()">
                        <input type="hidden" name="idEvento" id="idEvento">
                        <div class="md-form">
                            <p>Nombre</p>
                            <label for="nombreEvento"></label>
                            <input type="text" class="form-control nombreEvento" id="nombreEvento" name="nombreEvento" required>
                        </div>
                        <div class="md-form">
                            <p>Tipo</p>
                            <label for="tipoEvento"></label>
                            <input type="text" class="form-control tipoEvento" id="tipoEvento" name="tipoEvento">
                        </div>
                        <div class="md-form">
                            <p>Fecha</p>
                            <input type="date" class="form-control fechaEvento" id="fechaEvento" name="fechaEvento">
                        </div>
                        <div class="md-form">
                            <p>Descripcion</p>
                            <label for="descripcionEvento"></label>
                            <textarea class="form-control descripcionEvento" id="descripcionEvento" name="descripcionEvento" rows="4"></textarea>
                        </div>
                        <div class="md-form">
                            <p>Local</p>
                            <label for="lugarEvento"></label>
                            <h5 id="lugarSelec"></h5>
                            <select class="browser-default custom-select" id="lugarEvento" name="lugarEvento">
                                <option id="optionSelected" selected>Elegir otro local?</option>
                                {% for local in locales %}
                                    <option value="{{ local.idLocal }}">{{ local.nombreLocal }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="md-form justify-content-between">
                            <button type="button" class="btn btn-light float-left" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary float-right">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-notify modal-success" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <p class="heading lead">Datos Actualizados con exito</p>
                </div>

                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <a type="button" id="actualizarPagina" class="btn btn-success" data-dismiss="modal">✔</a>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="eliminarEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-notify modal-danger" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <p class="heading">Seguro que deseas eliminar este evento</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" id="confirmarBorrado" class="btn btn-danger">✔</a>
                    <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">❌</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}